* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
  
  
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 15px; 
  
  }
  .logo a{
    font-family:'Ubuntu', sans-serif;
    color: white ;
    font-size : 50px;
    font-weight:600;
    text-decoration: none;
  }
  .logo a span{
      color :  rgb(77, 27, 194);
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  

  
  
  
  /* Main column */
  .main {   
    
    margin: 50px;
  background-color: white;
  padding: 20px;

  }
  
  
  
  
  
  /* Float four columns side by side */
  .filterDiv {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin: 10px 0px;
    display: none;
  }
  
  /* Remove extra left and right margins, due to padding */
  .ro {margin: auto;}
  
  /* Clear floats after the columns */
  .ro:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .filterDiv {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
  
  
  /* cards */
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    display: inline-block;
    text-align: center;
    font-family: arial;
  }
  .card a{
    color: #000;
    text-decoration: none;
  }
  
  .price {
    color: grey;
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  
  
  
  
  
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  
  
  
  
.cart_area button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 16px;
  }
  
  
  .cart_table{
    font-size: 20px;
  }
  
  .cart_table #sub,#ship,#tot{
    text-align: center;
  }
  
  .cart_table button{
    margin-top: 50px;;
  }
  
  .cart_table input{
    text-decoration: none;
    border: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  
  
  
  
  /* Fake image, just for this example */
  .fakeimg {
    background-image: url(banner1.png);
    background-size: cover;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  /* footer section styling */
  footer{
      background: #111;
      padding: 15px 23px;
      color: #fff;
      text-align: center;
  }
  footer span a{
      color: blue;
      text-decoration: none;
  }
  footer span a:hover{
      text-decoration: underline;
  }
  
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }



















  /* Full-width input fields */
#id01 input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  #id01 input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  #id01 button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  #id01 button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  #id01 .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  #id01 .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  #id01 .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  #id01.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  #id01 .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  #id01 hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  #id01 .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  #id01 .close:hover,
  #id01 .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  #id01 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    #id01 .cancelbtn, .signupbtn {
       width: 100%;
    }
  }











  /* Full-width input fields */
#id02 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  #id02 button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #id02 button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  #id02 .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  #id02 .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  #id02 img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  #id02 .container {
    padding: 16px;
  }
  
  #id02 span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  #id02.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  #id02 .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  #id02 .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  #id02 .close:hover,
  #id02 .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  #id02 .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    #id02 span.psw {
       display: block;
       float: none;
    }
    #id02 .cancelbtn {
       width: 100%;
    }
  }
